<h4>{{outing.day.date | saddleLongDate}} - {{outing.time}} - {{outing.name}}</h4>
<h4><span class="fa fa-fw fa-xs fa-user"></span> {{reservation.name}}</h4>
<h4><span class="fa fa-fw fa-phone"></span> {{reservation.phone}}</h4>
<h4><span class="fa fa-fw fa-users"></span> {{reservation.numAdults}} adults, {{reservation.numChildren}} nens</h4>
<h5 class="text-right">Eliminar aquesta reserva?</h5>
<div class="text-right">
  <button type="button" ng-click="goBack()" class="btn btn-default">Cancel·lar</button>
  <button type="button" ng-click="submit()" class="btn btn-danger">Eliminar</button>
</div>
