<div class="row h3">

  <div class="col-xs-2 text-left">
    <a role="button" ng-click="prevDay()">
      <span class="fa fa-chevron-left"></span>
    </a> 
  </div>
  <div class="col-xs-8 text-center">
    {{localDate | saddleLongDate}}
  </div>
  <div class="col-xs-2 text-right">
    <a role="button" ng-click="nextDay()">
      <span class="fa fa-chevron-right"></span>
    </a> 
  </div>
</div>

<div class="row clearfix">
  <a ui-sref="outings-new({date:'{{localDate.asStr}}'})" class="btn btn-primary pull-right">
    <span class="fa fa-fw fa-plus"></span>Excursió
  </a>
</div>

<div class="row outing" ng-class="{'outing-confirmed': outing.confirmed}" ng-repeat-start="outing in day.outings | orderBy : 'time' ">
  <div class="col-sm-12 clearfix">
    <span class="h3">
      {{outing.time}} {{outing.name}}
    </span>
    <div class="pull-right">
        <span class="h3">
          {{reservedPlaces(outing)}} / {{numAvailableHorses}}
        </span>
      <div ng-show="outing.confirmed">
        <button class="btn btn-link" ui-sref="outings-edit({id:{{outing.id}}})"><span class="fa fa-fw fa-pencil"/></button>
        <button class="btn btn-link" ui-sref="outings-delete({id:{{outing.id}}})" ng-show="!outing.reservations.length">
          <span class="fa fa-fw fa-trash"/>
        </button>
      </div>
      <div ng-show="!outing.confirmed">
        <button class="btn btn-link" ng-show="!outing.confirmed" ng-click="confirmOuting(outing.defaultOutingId)"><span class="fa fa-fw fa-check"/></button>
        <button class="btn btn-link" ui-sref="outings-delete({id:{{outing.id}}})" ng-show="!outing.reservations.length">
          <span class="fa fa-fw fa-trash"/>
        </button>
      </div>
    </div>
  </div>

</div>
<div class="row" ng-show="outing.confirmed">
  <div class="col-xs-12 text-right">
    <a role="button" ui-sref="reservations-new({outingId: {{outing.id}}})">
        <span class="fa fa-plus"></span> Reserva
    </a>
  </div>
</div>
<hr ng-repeat-start="reservation in outing.reservations" class="reservationSeparator"/>
<div class="row" ng-repeat-end>
  <div class="col-xs-6 col-sm-2">
    <span class="fa fa-fw fa-users"></span> {{reservation.numAdults}} - {{reservation.numChildren}}
  </div>
  <div class="col-xs-6 col-sm-3">
    {{reservation.skillLevel}}
  </div>
  <div class="col-sm-3">{{reservation.name}}</div>
  <div class="col-sm-3">
    {{reservation.phone}}
    <% if false %>
    <a href="tel:{{reservation.phone}}"><span class="fa fa-phone"></span></a>
    <a href="skype:{{reservation.phone}}"><span class="fa fa-skype"></span></a>
    <% end %>
  </div>
  <div class="col-sm-1 text-right">
    <a role="button" ui-sref="reservations-edit({id: {{reservation.id}}})">
      <span class="fa fa-pencil"></span>
    </a>
    <a role="button" ui-sref="reservations-delete({id: {{reservation.id}}})">
      <span class="fa fa-trash"></span>
    </a>

  </div>
  </div>
</div>
<div class="row" ng-repeat-end></div>


