<div id="sub-body" ng-app="saddle" ng-controller="RootCtrl">

  <div class="row no-gutters row-offcanvas row-offcanvas-left" ng-class="{'active': !menuHidden}">

    <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

      <ul class="nav nav-sidebar">
        <li ng-repeat="link in navbarLinks" ui-sref-active="active">
          <a href="#" ui-sref="{{link.state}}" ng-click="hideMenu()">
            <span class="fa fa-fw {{link.iconClasses}}"></span>
            {{link.text}}
          </a>
        </li>
        <hr class="menu-item-divider"/>
        <li>
          <a href="javascript:void(0)" ng-click="signOut()">
            <span class="fa fa-fw fa-power-off"></span>
            Sortir
          </a>
        </li>
      </ul>

    </div>

    <div class="col-sm-9 col-md-10 main">

      <%= render :layout => '/layouts/panel' do %>
        <div class="row visible-xs">
          <button type="button" class="btn btn-link" ng-click="toggleMenu()">
            <i class="fa fa-fw fa-bars"></i>Menú
          </button>
        </div>

        <ui-view></ui-view>
      <% end %>

    </div>
  </div>
</div>

