$saddle-front-bgcolor: #f0f0f0
$saddle-back-bgcolor: #e0e0e0
$saddle-secondary-text-color: #707070

// Should be equal to Bootstrap's font-size-base. I've not found a better way.
$saddle-font-size-base: 14px


html,
body,
body > #sub-body,
body > #sub-body > .row,
body > #sub-body > .row > #sidebar,
body > #sub-body > .row > .main
  height: 100%

body
  background-color: $saddle-back-bgcolor

.main
  background-color: transparent
  overflow-y: auto

#sidebar
  background-color: $saddle-front-bgcolor
  z-index: 1 // So that box-shadow will appear over adjoining div
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.35)
  @media (max-width: 992px)
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.35)
  @media (max-width: 768px)
    box-shadow: none

.saddle-panel
  height: 100%
  > *
    height: 100%
  @media screen and (min-width: 992px)
    margin-top: 20px

#saddle-main-view-panel
  margin-bottom: 20px
  @media (max-width: 992px)
    min-height: 100%
    margin-bottom: 0px
    border-radius: 0px

  .panel-body
    padding-top: 5px

////////////////
// Form controls
////////////////

// Show form controls in red only if they are invalid AND the user has
// tried to submit de form.
form.atmp-submit .ng-invalid
  // Copied from http://getbootstrap.com/2.3.2/assets/css/bootstrap.css
  border-color: #e9322d
  box-shadow: 0 0 6px #f8b9b7

// Number inputs should be small
form.form-inline input[type='number']
  width: 80px

// Horizontal bars should be visible
hr
  border-color: #ccc
  margin-top: 20px
  margin-bottom: 20px

// "Delete" buttons should be red when hovered
.fa-trash:hover,
button:not(:disabled):hover .fa-trash,
a:hover .fa-trash
  color: #c43f3a

.radio, .checkbox
  label
    padding-left: 5px // Bootstrap defaults to 20px, too much padding

input[type="radio"], input[type="checkbox"]
  margin-top: 2px


//////////////
/// Display of outings as fullCalendar events
/////////////

.saddle-outing-fc-event
  border-radius: 2px
  background-color: white
  color: black !important
  border-color: lightgray

  .fc-title
    display: block
  .fc-time
    font-weight: normal
  .fc-freeplaces
    font-weight: bold
    float: right


// Disable hover on the table that contains the events,
// so that the pointer events can reach the table with
// the days
.fc-content-skeleton
  pointer-events: none

.fc-day
  background-color: #e8e8e8
  cursor: pointer
.fc-day:hover
  background-color: #ededed
.fc-day-grid-event
  margin-right: 20px

.saddle-outing-fc-event:not(.confirmed)
  opacity: 0.5
  color: gray !important

////////////////
// Reservation list
////////////////

.saddle-outing-comments, .saddle-day-comments
  white-space: pre-wrap

.saddle-rsv-row-comments, .rsv-comments-tooltip *
  color: $saddle-secondary-text-color !important
  text-align: left !important
  font-style: italic

.saddle-rsv-row-comments:not(.folded), .rsv-comments-tooltip *
  white-space: pre-wrap !important

.saddle-rsv-row-comments.folded
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden

.saddle-rsv-row-comments
  padding-left: 20px

////////////////
// Reservation view / form
////////////////
#rsv-view-outing
  //outline: 1px solid lightgray
  background-color: #f8f8f8
  //background-color: #f5f5f5
  //background-color: #f5f0d5
  border: 1px solid rgba(0, 0, 0, 0.15)
  padding: 5px

////////////////////
// Panel to indicate that the user is moving a reservation
////////////////////
#saddle-moving-rsv-info
  //outline: 1px solid lightgray
  //background-color: #f8f8f8
  //background-color: #f5f5f5
  background-color: #f5f0d5
  border: 1px solid rgba(0, 0, 0, 0.15)
  padding: 5px


////////////////
// Login page
////////////////
#login-form-container
  margin-top: 10px
  text-align: center
  > form
    display: inline-block
    width: 100%
    max-width: 300px
    text-align: left


////////////////
// Bootstrap tooltip
////////////////
// More width, different colors, no arrow
.tooltip-inner
  color: #101010
  background-color: #f0f0f0
  max-width: 100%
.tooltip-arrow
  border-color: transparent !important


/////////////////////////////////////////////////////////////////////////
// "Editable" hint (icon that appears when hovering over editable content)
/////////////////////////////////////////////////////////////////////////
.with-editable-hint:not(:hover) .editable-hint
  opacity: 0
.editable-hint
  transition-property: opacity
  transition-duration: 300ms

//////////////////////////////////app/assets/stylesheets/saddle.sass:166
// Bottom-align content of columns
// (http://stackoverflow.com/a/14223553/2626593)
//////////////////////////////////

.row-vert-align-bottom
  font-size: 0

.row-vert-align-bottom > *
  float: none
  display: inline-block
  font-size: $saddle-font-size-base

.row-vert-align-bottom > *:last-child
  vertical-align: bottom

.row-vert-align-bottom p:last-child
  margin-bottom: 0 /* optional */

////////////////
// Miscellaneous
////////////////
a
  cursor: pointer // even without href

.inline
  display: inline-block
.valign-middle
  vertical-align: middle !important
.line-height-0
  line-height: 0 !important

.align-right
  text-align: right

.top-5
  margin-top: 5px
.top-10
  margin-top: 10px
.bottom-5
  margin-bottom: 5px
.bottom-10
  margin-bottom: 10px
.left-5
  margin-left: 5px
.left-10
  margin-left: 10px
.right-5
  margin-right: 5px
.right-10
  margin-right: 10px

.invisible
  visibility: hidden

// Responsive line break
@media screen and (min-width: 768px)
  .rwd-break
    display: none

.btn-link:disabled
  color: gray

.btn-really-link
  padding: 0px !important

.text-very-muted
  color: #aaaaaa

.row.no-gutters
  margin-right: 0
  margin-left: 0

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"]
  padding-right: 0
  padding-left: 0

.view-table
  display: table

.view-thead
  font-weight: bold
  display: table-header-group

.view-row
  display: table-row

.view-row > div
  display: table-cell

.view-row > div.adjust-to-content
  width: 1%

.width-1-5
  width: 20%

.width-1-3
  width: 33%

@media (max-width: 992px)
  .width-md-1-3
    width: 33%

@media (max-width: 768px)
  .width-sm-1-2
    width: 50%

////////////////////////
// Icons
////////////////////////
// Some saddleFont icons need slight adjustments
.saddlefont-horseshoe
  transform: translateY(15%)

.saddlefont-cross
  transform: translateY(10%)

