$saddle-front-bgcolor: #f0f0f0
$saddle-back-bgcolor: #e0e0e0

html,
body,
body > .container-fluid,
body > .container-fluid > .row,
body > .container-fluid > .row > #sidebar,
body > .container-fluid > .row > .main
  height: 100%


body
  background-color: $saddle-back-bgcolor

.main
  background-color: transparent

#sidebar
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.35)
  background-color: $saddle-front-bgcolor