$saddle-front-bgcolor: #f0f0f0
$saddle-back-bgcolor: #e0e0e0

html,
body,
body > .container-fluid,
body > .container-fluid > .row,
body > .container-fluid > .row > #sidebar,
body > .container-fluid > .row > .main
  height: 100%


body
  background-color: $saddle-back-bgcolor

.main
  background-color: transparent

#sidebar
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.35)
  background-color: $saddle-front-bgcolor


// Form controls

// Show form controls in red only if they are invalid AND the user has
// tried to submit de form.
form.atmp-submit .ng-invalid
  // Copied from http://getbootstrap.com/2.3.2/assets/css/bootstrap.css
  border-color: #e9322d
  box-shadow: 0 0 6px #f8b9b7

hr
  height: 1px
  background-color: #ccc
  margin-top: 20px
  margin-bottom: 20px


/**
 * Calendar
 */
.fc-event
  .fc-title
    display: block
  .fc-freeplaces
    float: right

.fc-event:not(.confirmed)
  color: lightgray
