<!DOCTYPE html>
<html>
<head>
  <title>Saddle</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="saddle">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-body">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</body>
</html>
